.jumbotron-fluid {
    background: linear-gradient(teal 60%,#212121);
}

.container{
    background: linear-gradient(#ee82ee 60%,rgba(51,0,111,0.5) 90%);
}

h1, h3 {
    color: white;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font-size: 6em;
    font-family: Impact;
}

h3 {
    font-size: 4em;
    font-family: monospace;
}
p.pic-desc{
    font-size: 1em;
    font-style: italic;
}
p {
    color: #70c0f5;
    font-size: 1.875em;
    text-align: justify;
}

#joke-graph {
    visibility: hidden;
}

#part2 {
    visibility: hidden;
}

#carried-away-image {
    width: 600px;
    height: 1200px;
}

#killing-time-image {
    width: 460px;
    height: 876px;
}

.btn-group .btn {
    visibility: hidden;
}

.card {
    background: transparent;
    border: transparent;
}

.art-display {
    width: 200px;
    height:200px;
}